[2017-03-22 18:09] tromer opened #1 "Zcash Groundbreaker Award"
I suggest that one of the Foundation's activities will be awarding a "Zcash Groundbreaker Award, in recognition of intellectual giants on whose shoulders Zcash stands".

Rationale:
* We really owe them! Zcash was fortunate to be where things finally came together, but a lot of brilliance and toil brought us here.
* Promoting good will, intellectual honesty and generosity as community values.
* Pro

[2017-03-23 02:18] tromer opened #2 "Grant program"
The Zcash Foundation can fund projects done by Zcash community members, by awarding specific grants.

It would work like this:
* The Foundation issues a Call for Proposals listing the topics of interest and application procedures.
* People submit Grant Proposals, explaining their ideas for proposed projects, deliverables, schedule and budget &mdash; aiming to show that the ideas are worthwhile for

[2017-03-23 13:38] daira commented on #1
In the "Pioneers of digital payment schemes" category, I nominate Tomas Sander and Amnon Ta–Shma.

[2017-04-08 10:21] radix42 commented on #2
Here're my thoughts.....

1. yes of course "all of the above"

2. that seems right, depending on ones subjective view of what those numbers are! and would of course vary wildly by where the grantee lives, etc.

3. ZEC is so much simpler and is what the Foundation is funded in, and tax implications are going to vary so wildly by the legal jurisdiction of the grantee's residence that I'd just go wit

[2017-05-17 16:48] nathan-at-least opened #3 "Scholarship Program"
I wonder if the Foundation could award scholarship funding for students or researchers involved in target areas of research. A small-scoped case might be in providing funding to attend conferences.

I'm not sure how distinct this is from a grant program, and maybe this would just be a particular case of grants, if this is feasible.

[2017-05-17 16:51] radix42 commented on #3
I have mentioned funding for conference attendance on the chat. Including the fact that I wouldn't be able to go to Zcon0 without support for that from somewhere.

[2017-05-22 01:20] amiller commented on #2
Two more thoughts. Both are along the lines of radical transparency. While I imagine this will be done by board-appointed-committee at first, I'd like to start a path towards more inclusive deliberation.
- On #6, let's make it so that proposers can choose to make their proposals public or not? If public, they can self host, and we'd timestamp with archive.org or something. We'd also guarantee that

[2017-05-24 06:07] amiller opened #4 "Polling Miners"
I'd like to build a system to poll miners. "System" is intentionally vague here. It could be technical in nature, such as encouraging a convention of including "miner input" data in some memo field or coinbase space in a block. It could also include social conventions.
One obvious way to poll miners is to interact with the large mining pools. Another option is to engage mining pools and actively e

[2017-05-24 15:30] nathan-at-least opened #5 "Curated Research Topics"
While doing feature planning for the Zcash protocol development with the Zcash Company, we have a firehose of useful research ideas. Meanwhile, we hardly have time to look into even the most promising.

I would love to publish a list of topics and/or problem descriptions. It would be great if anyone could post these, and in that case it would help to have some kind of refinement process so that pr

[2017-05-26 00:11] mineZcash commented on #4
There are a number of options we can use to deploy a voting system.

The first step will be to decide _who_ exactly we want to invite to the poll, as you mentioned the Pool operators are an obvious choice since they have so many miners working for them. I know that Zooko and other team members have direct contact information for some the major Pool operators and I know some of their usernames on t

[2017-05-26 16:05] amiller commented on #4
This is awesome, thanks for working out this list of alternatives.

I guess the way to start is with invite-only polling?

Eventually this seems like something for which an actual technical solution might be a good idea. Miners may wish to vote anonymously rather than have their names attached. The public may be skeptical that the polling system is not transparent enough, the registration process

[2017-06-02 15:13] amiller opened #6 "Working Group organization"
Zcash Foundation will need to help instigate and coordinate the efforts of volunteers.
["Working Groups" ](https://en.wikipedia.org/wiki/Working_group) can be a lightweight structure for organizing groups of volunteers around projects or tasks.

This ticket is for discussing the possibility of working groups and how to organize them, or possibly alternatives.

The idea is that working groups shoul

[2017-06-02 15:36] ioptio commented on #6
Is the idea to merge this with/take over https://github.com/zcash/zcash/wiki/working-groups or keep separate?

[2017-06-02 16:11] nathan-at-least commented on #6
My vision is to migrate ZcashCo dev organization into this working group model, thus breaking development out of that company's walled garden. Getting there will be a process that takes time.

I think the next step for our company is to notice when we have a new company initiative that could fit in this working group mould, and then to do so rather than just setting up an internal team. I'm motiva

[2017-06-07 20:26] tromer commented on #2
What's a good place to accumulate ideas/suggestions for grant-funded projects?

For example, I'd like to suggest implementing some version of https://github.com/zcash/zcash/issues/2432 .

[2017-06-09 17:05] amiller opened #7 "Put board meeting minutes in github"

[2017-06-12 19:15] amiller opened #8 "Polling Stakeholders"
Related to #4, except about polling stakeholders / coinholders instead of miners. These are potentially two different. Both might benefit from "representation" in the community, which the foundation could facilitate.

This feature issue from Zcash is closely related: https://github.com/zcash/zcash/issues/2321 The main idea is that the existing circuit could be used to approximate "stake" voting.

[2017-06-20 01:15] amiller opened #9 "Community Survey"
We should have a working group for surveying community contributions for folks.
I think Zcash co had a post to this effect.
https://www.zcashcommunity.com/wallets/ this is a survey of wallets.
 What else should go here? Forks? Ports? Block explorers? Forums?

[2017-06-20 23:16] mineZcash commented on #9
I try to keep an eye on the community contributions via the forums and Reddit and add them as I find them. I think its important that the community has links to as many resources as possible, I can add as many other pages as we need for forks, block explorers, etc.

[2017-06-22 20:09] nathan-at-least commented on #1
I was just very inspired by some engineering work that has greatly benefited the Zcash reference client development. This is a different focus of award. (-unless you could argue that this is cypherpunk pioneering since cypherpunks write code. ;-)

So perhaps we could have several rewards tracks. In this case I just wanted to award many committers to a repository a relatively small amount without a

[2017-06-22 20:10] nathan-at-least commented on #1
Oh, and I'd like for awards tracks to accept nominations from the public. Not sure how to select actual rewards recipients, though. (Internet voting is fraught with hijinks.)

[2017-06-23 18:05] jackgavigan commented on #2
👎 to this. I think a precondition of any grant should be that the proposal must be made public (even if it is private during the application stage).

Note that keeping applications private during the application phase makes it difficult to assess community support for a proposal. One way of sidestepping this problem is to only make grants on a matching basis - i.e. the Foundation will only fund a

[2017-06-24 04:20] zookozcash commented on #1
This is a lovely idea, and reminds me of Max Levchin's wonderful prize:

http://levchinprize.com/
https://www.linkedin.com/pulse/why-i-created-first-prize-real-world-cryptography-max-levchin

I recall that when he announced it, he said he hoped others would chip in to make the size of the prize bigger in the future.

[2017-06-24 11:23] amiller opened #10 "Hiring a project manager"
Lots of our tasks are blocked on the limited administrative time that the volunteer board members can contribute. We're looking to hire an experienced project manager to help facilitate. See the job description below (approved by the foundation board):

The Zcash Foundation is seeking to hire a Senior Project Manager to help with the Foundation.
 ======
The Zcash Foundation is a non-profit organiz

[2017-06-26 16:59] amiller commented on #7
Peter and I both took a turn at consolidating our notes from board meetings, and put them online here https://github.com/ZcashFoundation/ZcashFoundation/tree/master/board-documents/minutes b95500b383b7876280f27ca282358937ccf6ef42

[2017-06-26 16:59] #7 closed, assigned to nobody

[2017-06-27 16:37] amiller opened #12 "Better PR for visibility"
Presumably no one knows what we are doing.
See also this tweet https://twitter.com/ZancasDeArana/status/879714852746518529

Although we discharge our "transparency" needs primarily by putting things on our GitHub and public chat, this doesn't reach all viewers.

Maybe this is something the Senior project manager will help with. More frequent blog posts or more frequent status updates to the websit

[2017-06-27 17:23] jackgavigan commented on #1
This strikes me as a "Nobel Prize"-style award. Whilst I agree that it would be a Good Thing, I question whether it falls within the the scope of the Zcash Foundation's [mission](https://github.com/ZcashFoundation/ZcashFoundation/blob/master/MISSION.md).

[2017-06-27 18:19] diracdeltas commented on #1
I think one of the criteria for the award should be "will use the public recognition and ZEC associated with the award to further the cause of financial privacy and/or for other public good relating to privacy." Otherwise I agree this falls somewhat outside of the foundation's mission.

[2017-06-28 20:40] zancas commented on #12
Github is a great (and probably in many ways "correct") first step towards letting people know about the Foundation, but it bears mentioning that most humans don't use github.
  Maybe there's sufficient conciousness/awareness raising work to do that the Foundation should hire a PR specialist in addition to the manager?   Or maybe the manager should evaluate the costs and benefits of hiring such an

[2017-06-28 20:40] zancas commented on #10
Perhaps it would help align incentives if the manager were explicitly compensated in zcash?

[2017-06-28 20:42] zancas commented on #9
If I Understand the survey task correctly, then I think ZEC supporting exchanges should be included.

[2017-06-28 20:48] zancas opened #13 "Compensated Use Case/Wishlist Surveys"
To improve our understanding of how zcash is used, and what features people might want, The Foundation could distribute surveys combined with an incentive contract whereby respondents are compensated with a small payment of ZEC for their data.

[2017-06-29 14:27] amiller opened #14 "Support for Tor servers"
In my opinion it would be a critical failure for the privacy if the number of Tor reachable Zcash nodes drops too low.

Right now I know of only one project hosting zcash node hidden services. They rely on funding month by month, basically. If it elapses the hosts will shut down.
https://forum.z.cash/t/zcash-on-tor-a-community-funded-proposal/14651/17

We need a project to fund these. I think this

[2017-07-03 23:47] mineZcash opened #15 "Community Web Infrastructure"
Proposal for Foundation support of Zcash community resource infrastructure.

With the October launch of Zcash the development team has made great strides in improving the Zcash protocol and the Zcash promise of true financial privacy has attracted thousands of new Zcash users. For community members such as myself and radix42 there has been a significant increase  in traffic to three key areas.

Th

[2017-07-03 23:51] radix42 commented on #15
Well, I'm not going to take down my proving key mirror, I'm just going to flip the embedded download url for it in zcash4win's next release back to the url for the ZcashCo copy, which is hosted on amazon s3 rather than CloudFront. Which means I"ll get more support tickets about "hey it keeps not finishing the proving key" from my users, but I'll just bite that bullet. @zooko if you guys added a Cl

[2017-07-03 23:52] radix42 commented on #15
or maybe the foundation could setup such a CDN-based download service for proving keys for the entire zcash-ecosystem?

[2017-07-03 23:53] radix42 commented on #15
that's what I've essentially done by dropping my mirror's URL into the non-linux builds of all the zcash forks I've worked on, made it tolerable to download the thing. I can track how many client downloads I have by coin, and the non-zcash forks are just noise in the amount of downloads compared to zcash4win clients

[2017-07-03 23:58] radix42 commented on #15
The problems of success! My recent AWS bills (just for bandwidth, I have my ec2 all separately billed...and on that last month less that $50 was non-zcash forks)
![screen shot 2017-07-03 at 4 55 06 pm](https://user-images.githubusercontent.com/6250192/27810565-d2732770-6010-11e7-877a-8bc14ddec057.png)

[2017-07-04 00:00] radix42 commented on #15
PS if the Foundation does decide to pay for ongoing hosting of proving keys on a high quality CDN, I'd be more than happy to donate the labor to setting that all up if you do it on AWS CloudFront.

[2017-07-04 21:28] asm13243546 commented on #10
* Custody of virtual currencies received as donations

How does this work exactly?

[2017-07-04 21:43] mineZcash commented on #10
@asm13243546 I would suggest applying to Andrew about the position before asking about financial custody details.

[2017-07-04 21:58] asm13243546 commented on #2
@jackgavigan A note in passing that ideas [6] are sure to be actively mined by vc-blockchain startups and there may be some incentive to participants for tiering participant privacy?

Or is ZCF simply exemplary. Feel you on astroturfing.

[2017-07-04 22:10] asm13243546 commented on #2
Maybe it's simply an IP question writ small. Software licensing, you'e in or you're out.

[2017-07-04 22:33] asm13243546 commented on #10
Lol just nosy.

On Tue, Jul 4, 2017, 5:43 PM mineZcash <notifications@github.com> wrote:

[2017-07-04 22:37] asm13243546 commented on #10
But have done so, pursuant your advice.

On Tue, Jul 4, 2017, 6:33 PM Alfred Matthews <asm13243546@gmail.com> wrote:

[2017-07-04 22:39] asm13243546 commented on #10
Rereading. <Buries head in book.>

[2017-07-04 22:59] asm13243546 commented on #10
Just to clarify but at risk of over-comment,

Hire and manage professional services as necessary

is the parent directive of

Custody of virtual currencies received as donations

and I'm new to your community, so I was wondering if something public had already been established, since, if not, it becomes something of a work item for whatever PM.

Hopefully that's clear enough.

[2017-07-04 23:34] tromer commented on #2
Following a discussion with @amiller, @jackgavigan and others, and subsequent tweaking, I suggest the following plan:

All proposals will be public, with the intention of fostering public review, transparency, and drawing on the knowledge and skills of the wide Zcash community to evaluate and hone proposals.

Final funding decisions will be made by a _Zcash Grant Panel_, to be chosen/approved by t

[2017-07-07 17:38] amiller opened #16 "Update logo"
MineZcash made us nice logos, we should update the website to include them.

[2017-07-07 18:25] amiller commented on #16
OK, logo and favicon both updated. Thanks minezcash!

[2017-07-07 18:25] #16 closed, assigned to nobody

[2017-07-07 18:26] mineZcash commented on #16
no problem, happy to make it!

[2017-07-10 20:02] nathan-at-least commented on #6
The current policy lives here: https://github.com/ZcashFoundation/ZcashFoundation/blob/master/WorkingGroups/README.md

Is the existence of that README.md sufficient to close this ticket?

[2017-07-17 14:02] zancas commented on #10
Is there an intention to hire other specialists...   e.g. a marketing/publicist/media-content generator?

[2017-07-24 16:31] amiller opened #18 "Onboarding for newcomers who want to contribute or volunteer to development/technical"
Suppose a volunteer shows up and wants to help with Zcash. What resources can we point them to?

For open source development, the usual answer is to read the posts on a development mailing list and look for opportunities, or to look for github tickets that might be fun. Certainly https://github.com/zcash/zcash/issues seems to be full of good ideas. Is there anything we can do to help new people pa

[2017-07-27 16:26] nathan-at-least opened #19 "Link here from the website."
People (such as @zookozcash) complained they can't find this information from the https://z.cash.foundation website. Let's fix that!

[2017-07-27 16:35] zookozcash opened #20 "list of working groups and their status"
I want to see a table of existing or proposed working groups, their status, and their coordinator. "Status" would include "proposed", "needs a coordinator", "approved by the Foundation", "active". Also I'd like there to be a link I can follow to check for recent activity, i.e. a github issue tracker sorted by most recently changed ticket, or a mailing list showing most recent posts, or a blog, or

[2017-07-28 17:49] zookozcash opened #21 "fund bounties/awards/consultants to analyze candidate crypto algorithms for Sapling"
The Zcash New Crypto Analysis Project
-----------------------------------------------------

New crypto things that need analysis, because we are considering using them in Sapling, and they are not yet super-well-studied by lots and lots of cryptographers:
 * Groth-2016 proving system (can there be a security reduction (“security proof”) of Groth-2016 that isn't in the Generic Group Model?)
 * MiM

[2017-07-28 18:52] ebfull commented on #21
This other curve is the "embedded curve" that is efficient to use inside the zk-SNARK. I've proposed a curve [here](https://github.com/zcash/zcash/issues/2230#issuecomment-317182190) but I'm not totally committed to that particular curve. There could be better ones.

[2017-08-02 05:29] diracdeltas commented on #19
Do you mean this github repo? Or the issues page of this github repo?

[2017-08-02 05:34] diracdeltas opened #22 "invalid SSL cert on https://z.cash.foundation/"
Ironically, for a privacy-focused project, our website has an invalid SSL cert (CN github.com) :(.

As far as I know, the only easy way to get around this is to use Cloudflare's "Universal SSL" service. https://blog.cloudflare.com/secure-and-fast-github-pages-with-cloudflare/

[2017-08-02 12:42] amiller commented on #22
Eventually I'd like to move off GitHub-pages for this given the lack of https support. Using cloudflare seems like an alright compromise.

[2017-08-04 03:26] amiller commented on #6
We can close it once at least one working group "grows up" in some way. We'll recognize this way when we see it (or we should work out what is the minimum "success" criteria for this issue in further comments)

[2017-08-04 14:51] amiller commented on #10
We've hired Josh Cincinnati as the program manager, starting aug 14
http://z.cash.foundation//blog/welcome-josh/

[2017-08-04 14:51] #10 closed, assigned to nobody

[2017-08-04 17:43] amiller commented on #2
Here is a wiki page where people we can collect ideas for projects that would make good grant proposals:
https://github.com/ZcashFoundation/ZcashFoundation/wiki/Grant-Project-Ideas

[2017-08-04 19:58] SergioDemianLerner opened #23 "Fund a bug bounty program"
Because hackers are your friends.

[2017-08-04 20:04] amiller commented on #23
Thoughts on how much is appropriate? Or on who handles the evaluation?
Ethereum bug bounty program is pretty good I think.

[2017-08-04 20:05] diracdeltas commented on #23
The hard part is scoping, aka what bugs are eligible for bounty. Depending on scope, this may be a better issue for Zcash company instead of Zcash foundation.

[2017-08-04 20:07] amiller commented on #23
We could have a working group whose iob is define the scope, make relative funding decisions, and evaluate the reports. It seems like something that's in scope for the Foundation and would also be a good collaboration with the Zcash Company.

[2017-08-04 22:07] Codnova opened #24 "Translate Website to Spanish, Brazilian, etc. Hire content creators"
It will be nice if the website/documentation is translated into other languages such as Spanish, Brazilian,  French, German, Russian. Thus increasing user and developer's engagement reach.
Our cryptocurrency community is becoming increasingly diverse, an effective communication strategy is needed to spread the word on Zcash and Blockchain technology, especially given the steep learning curve Zcash

[2017-08-06 19:33] zancas commented on #24
I am +1 on this issue.   I think it would be ideal to hire translators/content creators in diverse communities/geographies.

[2017-08-06 19:45] zancas opened #25 "Focus resources on gathering/analyzing data"
How should the Foundation Allocate Resources?

Which projects are most likely to net large benefits?

What things are most in demand by the wider Zcash community?

The first thing the Foundation should focus on is building awareness, mechanisms for ingesting and comprehending the relevant state of the wider market(s).

How _exactly_ to do this is something I don't have a strong opinion on except t

[2017-08-06 20:20] nathan-at-least commented on #25
There's already a working group dedicated to #4 listed here: https://github.com/ZcashFoundation/ZcashFoundation/blob/master/WorkingGroups/ZcashMinersOrganization.md

[2017-08-07 14:41] bradycoye commented on #3
Cool idea! I think an update to Solar Designers [Equihash analysis](openwall.com/articles/Zcash-Equihash-Analysis) with current network metrics and potential risk would be a valuable research topic.

[2017-08-08 18:01] nathan-at-least commented on #6
I propose this criterion:

- The Foundation has published 2 monthly Zcash Foundation newsletters.
- Both newsletters have status updates from the same two or more working groups.

   + If working groups drop out or go idle on month two, this criterion fails because maybe we need to tweak something.
   + If there is some churn but at least two are stable, that's acceptable.

- The two-or-more worki

[2017-08-10 20:32] arielgabizon commented on #21
Hi,
At zdep I said I think hiring is better than a prize.
I still think so for the curve.
But for Groth-2016, I would be comfortable describing the project and
judging who should get the reward.
The project description can be something like "Show an attack against
Groth-2016 or prove it, or a variant of it where the prover complexity
doesn't change, secure under weaker assumptions"

Here is a poss

[2017-08-10 20:43] zmanian commented on #21
Prizes are more effective when the population of qualified researchers is large.

For this kind of cryptanalysis, the population of qualified researchers is small and the review committee should be able to evaluate both traditional and nontraditional researchers.

It would be a very valuable to get a qualified person to devote attention to these bits of novel cryptography.

[2017-08-10 20:44] zmanian commented on #21
It's sort of interesting question weigh priorities between infrastructure for safely doing hard forks and evaluating the safety of the new cryptographic components that will be introduced in a hard fork.

[2017-08-11 16:16] amiller commented on #24
Here's a pull request from Javier Mardones to form a working group specifically for Translations. #27

[2017-08-11 16:26] amiller commented on #22
I tinkered with it, got it routed through cloudflare, but now the build is broken. I probably need help with it.

[2017-08-11 16:40] nathan-at-least opened #28 "Working Group: zkSNARK / ZKP app devs"
**What:** A regular meeting of zeroknowledge application developers to discuss tradecraft.

**Why:** We've noticed several blockchain-related projects putting zkSNARK (or other zeroknowledge proving "ZKP" tech) on their roadmaps. This is a newly emerging technical field without well-established techniques. Application developers can learn a lot from each other about design considerations, implemen

[2017-08-14 16:42] javiermardoness opened #29 "Primeiro Anúncio da Fundação Zcash"
Olá Mundo, a Fundação Zcash está pronta e online. Nesse anúncio nós declaramos a missão da Fundação, introduzimos o quadro da Fundação ( feito com seus próprios membros) e explicamos algum dos seus planos iniciais.

Por que nós precisamos de uma Fundação?

O lançamento e crescimento de cada criptomoeda tem sido um pouco diferente. Organizações de suporte, como times Core Developers, Fundações e co

[2017-08-14 16:51] amiller commented on #24
Javier Mardones has completed one instance of a translation, but we have no where to integrate it.
To close this issue, we also need to figure out how to add jekyll posts in language translations, and have them in the site work ok somehow.

[2017-08-14 16:56] javiermardoness opened #30 "Anunciando Os Prêmios De Testes de Transação Da Fundação Zcash"
A Fundação Zcash tem o prazer de anunciar os três beneficiários do "Prêmio de Teste de Transação" ( também conhecido como "Prêmio de Pioneiros da Fundação Zcash"). Cada "Prêmio de Teste de Transação" vale 33 ZEC. Esses prêmios te a intenção de reconhecer os indivíduos que contribuíram voluntariamente para reforçar a comunidade Zcash, através de manutenção, desenvolvimento e organização.

Os benefi

[2017-08-14 17:52] javiermardoness opened #31 "Atualizações da Fundação em Julho de 2017"
Olá todo mundo
Esse é apenas um post curto para deixar você atualizado sobre as notícias da Fundação Zcash nos últimos meses. Nós temos feito progressos em configurar a organização e iniciar projetos.

## **Como falar com a gente e se envolver**

Primeiramente, algumas rápidas maneiras de falar
O repositório no Github da Fundação emergiu como o lugar central/autoritativo para todas as atividades d

[2017-08-14 23:22] javiermardoness opened #32 "A Fundação Zcash dá as boas vindas para o Gerente de Programas Senior"
Estamos felizes em anunciar que Josh Cincinnati foi contratado como Gerente de Programas Sênior para Fundação Zcash. Josh é um membro ativo da comunidade da criptomoeda, foi um Developer Advocate na BlockCypher, uma companhia especializada em APIS para Bitcoin, Litecoin, Ethereum e outras criptomoedas. Ele agora é um Developer Advocate no Lyft, um cargo que está exercendo concomitantemente enquant

[2017-08-15 05:10] acityinohio opened #33 "Zcash Site Overhaul (i18n, SSL, better design/workflow)"
This is a parent issue to a few disparate things that are somewhat related. I think an overhaul would enable solving these issues in a complete way rather than trying to work with the current limitations of GitHub pages/Jekyll. Child issues (possibly missing some, feel free to add if anyone thinks its appropriate):

#18, #19, #20, #22, #24, #29, #30, #31, #32

[2017-08-15 09:26] Hohhle opened #34 "Use as a Medium of Exchange - Grant Idea"
I propose that the ZCash foundation should illustrate the viability of ZCash and crypto-currencies as a medium of exchange using a short to medium length basic income type model experiment.

In order to ensure a greater likelihood of success, this project would initially require that a project representative and several persuasive board members meet with government leaders of smaller sized countri

[2017-08-15 11:56] mineZcash commented on #15
I was able to integrate two additional languages (Spanish and Portuguese) on the main pages of Zcashcommunity thanks to a community member who translated the pages. It would be nice to have even more languages supported, Zcash Company has incoporated the use of Transifex (multilingual translation company) I think it would be good to have a resource for the community site as well.

[2017-08-15 11:57] mineZcash commented on #15
Related to #24

[2017-08-15 12:40] mineZcash commented on #33
I agree, the GitHub pages format was a good short term solution to quickly get a site up for no cost but in the long run a more adaptable platform is needed.
I personally use WordPress since it is well supported, secure, adaptable, lots of professional themes and has a much more user friendly backend. I can provide a quick mock-up for evaluation if needed.

Cloudflare is also a good addition to th

[2017-08-16 04:13] acityinohio commented on #33
Thanks @mineZcash! Glad you agree. I was thinking of using a suite of AWS services: S3 + CloudFront + Route 53. SSL cert is free and CloudFront is relatively cheap as CDNs go.

As far as static site generation, my initial thought was to see if there was a way to do a combined workflow from GitHub; keep the md files of the current site but have a running cronjob of sorts to pull new changes and dis

[2017-08-16 04:16] zmanian commented on #33
I've been using Firebase free static site hosting for https://zaki.manian.org and several other sites.

TLS certs are free for Firebase sites. TLS is terminated by the Google edge which I have a lot of confidence in and you benefit from Google CDN/SDN.

Basically I put to github and then a travis CI job posts to firebase.

Been really happy with it. I specifically wanted to avoid Cloudflare

[2017-08-16 04:24] acityinohio commented on #33
I didn't even have to say "blockchain" 3 times and you're here @zmanian. ;)

Thanks for the input! Looks like yours is also a Hugo site, are you pretty happy with that tool as a site generator?

[2017-08-16 04:27] zmanian commented on #33
I have been happy with hugo so far.  it's brew installable on a Mac and go get / download a binary everywhere else.

There are like 3 commands to do a post.

There was some kind of rant about hugo and rss feeds on HN yesterday that I didn't read.

[2017-08-17 15:32] zookozcash commented on #31
Thank you! :-)

[2017-08-17 15:48] jonathascarrijo commented on #31
Javier, obrigado pela contribuição.
Também sou brasileiro, e tenho por função facilitar a cooperação e integração da comunidade Zcash no Brasil e América Latina.
Me avise se tiver alguma forma que possa lhe ajudar, ou se tiver alguma ideia que queira contribuir e que eu possa lhe apoiar.

[2017-08-17 16:45] burdges opened #35 "Zero-knowledge proof standards"
In the longer term, ZCash should encourage efforts to "standardize" zero-knowledge proof schemes, after first encouraging the further development of zero-knowledge proof schemes to the point where standardizing any makes sense.

I suspect the primary benefit of, and perhaps mechanism for, standardizing zero-knowledge proof schemes would be to achieve larger collaborative trusted setups for differe

[2017-08-17 17:07] burdges commented on #28
I should've probably posted https://github.com/ZcashFoundation/ZcashFoundation/issues/35 as a comment here.

[2017-08-17 17:47] mineZcash commented on #35
As you mentioned, the current trusted setup does not risk the privacy of Zcash users but if the shards of the public key are not properly destroyed then it could allow false verification of notes, which would allow an attacker to forge coins.
The next step they are taking is a larger multi-party trusted setup utilizing a accumulator that will allow it to scale to a much larger number of participan

[2017-08-17 21:18] zancas commented on #13
There are several things we can do to control for bot-created content.

1.  Require respondents to solve a set of CAPTCHA challenges.

2.   Offer a subset of surveys that require the recipient address to be verified.

     Option 2. presents an interesting set of trade-offs.   For concreteness I propose that the Foundation partner with, and compensate a crypto currency exchange that already has in

[2017-08-18 02:16] acityinohio commented on #34
@Hohhle thanks for thoughtful suggestion! Unfortunately I doubt the Foundation would be able to fund a full UBI-style program within the parameters of the [Grant Program](https://github.com/ZcashFoundation/GrantProposals-2017Q4)–since the Foundation only has ~$80,000 to award across all projects, it'd be difficult to do something like this justice (e.g., doing the math on the [UBI trial in Finland

[2017-08-18 02:16] #34 closed, assigned to nobody

[2017-08-18 11:32] javiermardoness commented on #31
@jonathascarrijo existe alguma exchange brasileira que negocia ZEC? Pensei em entrar em contato com algumas para tentar incluir ZEC no portifólio. Para fazer isso precisaria do seu apoio como representante da Zcash Company.
Gostaria também de saber mais informações sobre o estágio da ZEC na América Latina.
Obrigado!

[2017-08-18 12:15] javiermardoness opened #36 "Anunciando o Programa de Recompensas da Fundação Zcash"
Estamos orgulhosos de anunciar o primeiro Programa de Recompensa da Fundação Zcash - uma extensão natural dos [três pilares da Missão da Fundação](https://github.com/ZcashFoundation/ZcashFoundation/blob/master/MISSION.md) para servir a comunidade, protocolo e ciência da criptografia em geral. Nós estamos procurando por novas idéias que valem a recompensa em ZEC, melhor descritas pela [Chamada por

[2017-08-21 19:13] mineZcash commented on #33
I was looking into the Github integration and found this really cool plugin thats basically a webhook. It will allow WordPress to become similar to Jeckyll for showing revisions/issue/pull requests but still have the WordPress ecosystem for making the frontend and other fancy plugins.

https://wordpress.org/plugins/wp-github-sync/

https://github.com/mAAdhaTTah/wordpress-github-sync

[2017-08-23 15:35] amiller commented on #28
This is now a working group, Josh has agreed to act as the coordinator to keep ti going. https://github.com/ZcashFoundation/ZcashFoundation/blob/master/WorkingGroups/zApps.md

[2017-08-23 15:36] #28 closed, assigned to acityinohio

[2017-08-23 17:08] acityinohio commented on #35
Closing this out as part of the new working group—thanks for the suggestion/comments @burdges @mineZcash !

[2017-08-23 17:08] #35 closed, assigned to nobody

[2017-08-25 15:58] amiller commented on #32
Thanks @javiermardoness, these are invaluable and we'll be able to link to these and close these issues just as soon as the #33 website upgrade goes through. In the mean time, please accept the :+1: as an indication that these translations are received and acknowledge :)

[2017-08-25 16:06] amiller commented on #12
We're taking elsewhere about having a monthly newsletter organized in part around working groups. This would serve that purpose.

[2017-08-25 16:09] acityinohio opened #38 "Set up email infrastructure for z.cash.foundation"
Need listservs and individual addresses.

[2017-08-25 16:10] nathan-at-least commented on #6
I have a personal preference for "newletters" in the form of blog posts, or anything we can publicly link to with a stable URL. (I personally dislike signing up for email announcement lists because I'm already on too many and end up ignoring them all.)

[2017-08-25 16:18] nathan-at-least commented on #38
Note, for newletters on working group status in particular, I have a request to ensure each newsletter issue lives at a publicly available stable URL. If those newsletters are published as mailing list posts, let's follow up on the listserv setup with setting up a URL-stable public archive interface.

It might be wise to break this into a separate followup task if it takes enough time/effort/compl

[2017-08-25 16:19] amiller commented on #22
Cloudflare https is now working! :1st_place_medal:

[2017-08-25 16:19] #22 closed, assigned to amiller

[2017-08-25 16:24] amiller commented on #19
I put a preliminary link to the repository in the nav bar of the website. I'm considering that enough to close this, though better integration will be part of the website update.

[2017-08-25 16:24] #19 closed, assigned to acityinohio

[2017-08-25 16:32] amiller commented on #21
I'd love it if someone submits a  and submitting it as a proposal to the grant program?

[2017-08-25 16:32] amiller commented on #21
I'd love it if someone submits a  and submitting it as a proposal to the grant program?

[2017-08-25 16:45] javiermardoness commented on #32
Thats great!

[2017-08-25 17:57] amiller commented on #36
Closing after adding links https://github.com/ZcashFoundation/zcashfoundation.github.io/pull/11

[2017-08-25 17:57] #36 closed, assigned to nobody

[2017-08-25 17:57] amiller commented on #32
Closing after adding links https://github.com/ZcashFoundation/zcashfoundation.github.io/pull/11

[2017-08-25 17:57] #32 closed, assigned to nobody

[2017-08-25 17:57] amiller commented on #31
Closing after adding links https://github.com/ZcashFoundation/zcashfoundation.github.io/pull/11

[2017-08-25 17:57] #31 closed, assigned to nobody

[2017-08-25 17:57] amiller commented on #29
Closing after adding links https://github.com/ZcashFoundation/zcashfoundation.github.io/pull/11

[2017-08-25 17:57] #29 closed, assigned to nobody

[2017-08-25 17:58] amiller commented on #30
Closing after adding links https://github.com/ZcashFoundation/zcashfoundation.github.io/pull/11

[2017-08-25 17:58] #30 closed, assigned to nobody

[2017-08-25 17:59] amiller commented on #24
We've now added portugues translation links to each blog post, in a cursory way (links to just unformatted text in the issues).

We can close this issue once the Translations Working group defines a process that can reliably handle translations for other languages as well.

[2017-08-29 12:34] mineZcash commented on #15
I am closing this issue since it has been submitted as a Grant Proposal https://github.com/ZcashFoundation/GrantProposals-2017Q4/issues/5

[2017-08-29 12:34] #15 closed, assigned to nobody

[2017-08-29 22:44] zancas opened #39 "The Zcash Foundation Gives The Appearance of Being Understaffed"
As far as the marginally informed public is concerned (I'm serving as a representative) there's only one part time employee of the Zcash Foundation, @acityinohio .  This is a good thing!  One is non-zero, yay!   I would like to know what the plan is for hiring the next employee.

Is there a process whereby the most urgent needs are being identified and appropriate roles being defined?

Once a role

[2017-08-30 15:35] amiller commented on #39
All good questions, thanks for the much needed feedback Za!

We do not yet have a process defined for identifying urgent needs or identifying roles to fill. Points well taken though. So far it's driven by board members' initiative, and input from the public / folks who show up. We've been discussing an additional "Operations" role, an "Executive Director" role, and hiring someone just for organizi

[2017-09-01 16:16] amiller opened #40 "Transparency"
We have a few backlogged documents to push to the repo eventually, mainly our 1023 application for non-profit status still to push on the website. We should write down some process for making sure we're not forgetting anything!

[2017-09-01 16:27] amiller commented on #21
Here's an actionable idea evolved from chatting with Matt Green and Eran Tromer. We should use the output of the zApps working group as a way of catalyzing researcher interest in these protocols. The zApps working group (among other things, such as the ZSL & Quorum) shows the significant demand for zksnark protocols, and therefore effort invested in cryptanalysis is worthwhile.

So here are the st

[2017-09-02 02:01] amiller opened #41 "Learn from Monero and Dash on effective community-made funding decisions"
The Monero community has done a great job in developing open and crowd-driven funding.

The getmonero website features an excellent crowd-funding tool, where users can post funding requests and they can be filled by donors.
https://forum.getmonero.org/8/funding-required

This solves two problems: One is it helps with collective decision making, since the community watches the project proposals and

[2017-09-06 16:57] javiermardoness opened #42 "Courage dá as boas-vindas para Doações Zcash"
Courage, a organização internacional que apoia locutores da verdade, vai começar a aceitar doações em Zcash (ZEC) a partir de hoje. Apoiadores podem fazer doações para a organização ou para os nosso beneficiários individuais na seguinte URL:
https://couragefound.org/donate

Zcash é um fork do protocolo bitcoin que permite que pagamentos sejam feitos com maior privacidade com o uso de criptografia

[2017-09-07 05:04] acityinohio commented on #42
Thanks @javiermardoness ! Closing with link back for now, per the other translations: https://github.com/ZcashFoundation/zcashfoundation.github.io/commit/df9378a8fd2391de471684fe834c897e53a67c92

[2017-09-07 05:04] #42 closed, assigned to nobody

[2017-09-07 23:46] nathan-at-least opened #43 "Monthly "newsletter"."
A monthly newsletter summarizing the status and plans for working groups and the overall Foundation would help get the word out on ongoing initiatives. If each post has a stable URL that's really helpful for historical links, too, such as "back in February, the Foundation did X, see &lt;link&gt;".

As inspiration, I fondly recall the "Tahoe-LAFS weekly news" which posted RST format to a mailing li

[2017-09-07 23:48] amiller commented on #43
+1, I think this can be folded into a working groups update

[2017-09-15 17:24] javiermardoness opened #44 "Grant Spotlight: Ajude Zcash UX, Tenha Ajuda Do IDEO CoLab"
O Programa de Subsídio da Função Zcash “Chamada por Propostas” (CFP) está em pleno andamento e nós gostaríamos de uma chance para falar sobre as várias oportunidades para melhorar o ecossistema Zcash. Você pode ver várias ( editáveis, se você tem uma grande que valha a pena contribuir”) [wiki de idéias aqui](https://github.com/ZcashFoundation/ZcashFoundation/wiki/Grant-Project-Ideas).

Hoje nós go

[2017-09-15 18:02] zancas commented on #39
I think hiring more people with the ability to allocate resources seems like a good idea.

I also think that a role that includes translating relevant sites (like this one) into Mandarin, is an urgent need.

Perhaps The Foundation could prioritise hiring a native Mandarin speaker?

Perhaps that individual could be the first person to work pseudonymously for The Foundation.

[2017-09-15 18:03] zancas commented on #24
Perhaps now would be an opportune moment to publish some Mandarin translations?

[2017-09-16 18:21] radix42 commented on #39
Over one quarter of my downloads of zcash4win are from China, so I'll
second getting as much translated into Mandarin as a urgent need

On Fri, Sep 15, 2017 at 11:02 AM, Za Wilgustus <notifications@github.com>
wrote:

[2017-09-17 00:42] acityinohio commented on #39
Thanks for the continued feedback @zancas (and @radix42)! We are in the process of hiring additional contractors for basic administration—per what @amiller mentioned, the Foundation has some urgent admin needs (like accounting/operations) that we are aggressively pursuing, and hope to have news there to report soon.

On translations in particular, we have Translation working group that has been co

[2017-09-29 15:47] amiller opened #45 "Complete tax documentation for recipients of Test Transaction Awards"
See https://z.cash.foundation//blog/test-transactions/

[2017-09-29 16:00] amiller commented on #39
We've now hired an additional staff member, Antonie Hodge (@einotna)! Antonie will be our Director of Operations and taking the lead on our logistical and administration needs. Blog post pending :D

[2017-09-29 16:01] #44 closed, assigned to nobody

[2017-09-29 16:05] amiller opened #46 "Measure and improve outreach in China"
Not only do we not have Chinese translations, but I'm not even sure how we would tell whether we're reaching folks in China.

[2017-09-29 16:07] amiller commented on #21
We've had the first zApps WG meeting, and are now pending on the establishment of an email mailing list #38, and then we can send an update of the working group hangout.

[2017-09-29 17:30] einotna commented on #38
Re: g-suite setup. @amiller , were you able to add MX records to our domain? Please see attached images.
![image 2](https://user-images.githubusercontent.com/32369344/31027939-fbd03542-a500-11e7-950c-102478f1fdcf.png)
![image 1](https://user-images.githubusercontent.com/32369344/31027941-fbe8578a-a500-11e7-95ab-43694f276223.png)
![image](https://user-images.githubusercontent.com/32369344/31027940-

[2017-09-29 17:54] amiller commented on #38
ok should be done now

[2017-10-03 15:58] acityinohio commented on #39
Blog post here: https://z.cash.foundation//blog/welcome-antonie/

In concert with hiring @einotna , we've also contracted with an accounting firm to help reconcile our books. I'm going to close this out, but if there are additional roles that others think we should be hiring, feel free to open individual issues per @amiller's suggestion, and thanks as always for the feedback!

[2017-10-03 15:58] #39 closed, assigned to nobody

[2017-10-04 18:53] javiermardoness opened #47 "A Fundação Zcash dá as boa vindas à uma Diretora de Operações"
Nós estamos satisfeito em anunciar que Antonie Hodge foi contratada meio horário como Diretora de Operações da Fundação Zcash e é a nossa segunda empregada. Antonie trás com ela uma vasta experiência profissional de uma interseção rara de criptomoedas e organizações sem fins lucrativos, com seus três anos ( e contando) como Diretora Financeira de Operações no Coin Center, um papel que ela continua

[2017-10-06 01:38] #47 closed, assigned to nobody

[2017-10-24 13:27] daira commented on #21
#38 says it's done; what's the progress on this ticket?

[2017-10-24 15:39] amiller commented on #21
Good point, thanks for reminding about this ticket! We have a mailing list, https://lists.z.cash.foundation/mailman/listinfo/zapps-wg I need to write a thank-you and recap of the initial hangout and then also finish the follow-up I'm thinking of about the low-tech way of practicing with the sustainable snark setup procedure

[2017-10-25 12:39] khovratovich commented on #21
I would be interested to participate in such research, in particular on hash functions.

[2017-10-29 14:27] javiermardoness opened #50 "Destaques Das Propostas Para Doações"
No dia 15 de Setembro, o Zcash Foundation Grant Proposal Call encerrou as submissões. Desde então, discussões públicos começaram!

**Os Números**
A Fundação Zcash e o Comitê de Revisão de Doações animaram-se com a resposta da comunidade. Nós recebemos 29 Propostas para a doação de $ 80,000 em ZEC, das quais 27 continuam ativas e abertas para a discussão do público. Nós recebmos propostas para pesq

[2017-10-30 17:03] #50 closed, assigned to nobody

[2017-11-15 17:06] amiller opened #51 "Moderation policy for WG mailing lists?"
The Zcash Foundation hosts mailing lists for working groups. #38 #11 https://lists.z.cash.foundation/mailman/listinfo/
However, we haven't fleshed out our moderation policy, if any, yet.
We intend to leave the mailing lists mostly up to the individual working groups, so we should hope that for the most part working groups moderate themselves.

The Zapps working group seems to be the first to take

[2017-12-18 05:03] acityinohio commented on #45
Just bumping this @einotna; let me know if I can close this out.

[2017-12-18 05:04] acityinohio commented on #40
I think we've done a good job of getting this in order on our side, but we definitely need to add to our website (something to do early next year).

[2017-12-18 05:09] acityinohio opened #53 "Hire PR firm"
To help with #12/explaining the difference between the Foundation and the company. Ideally a part-time contract, might extend into a full-time Comms/Marketing role.

Right now I'm reaching out to Washman and Strangebrew, but if there are other suggestions would love to hear them.

[2017-12-18 05:11] acityinohio opened #54 "Hire Web Designer and/or Developer"
To help with an overall redesign of the website (#33).

[2017-12-18 05:15] acityinohio commented on #3
Closing this out since we're done with the first grant program, but I think this should be a contender for the next one! (Also @radix42 though we're in early stages on planning Zcon0, I believe there will be opportunities for the Zcash Foundation to support scholarships for attending the conference, but stay tuned there)

[2017-12-18 05:16] #3 closed, assigned to nobody

[2017-12-18 05:18] acityinohio commented on #9
Closing this issue since the first grant program selection has concluded, but this would be a good issue to support in the next round of grants.

[2017-12-18 05:18] #9 closed, assigned to nobody

[2017-12-18 05:22] acityinohio commented on #14
This was awarded as part of this grant cycle, so I'm closing this out: https://github.com/ZcashFoundation/GrantProposals-2017Q4/issues/11

[2017-12-18 05:22] #14 closed, assigned to nobody

[2017-12-20 00:13] nathan-at-least commented on #2
Is this ticket worthy to be closed, given the success of the first Grant Program round?

[2017-12-20 00:14] nathan-at-least commented on #43
Any progress on this front?

[2017-12-20 00:26] nathan-at-least opened #55 "Community proposal matched-funding program."
I'd like to see the addition of a grassroots community selection process for funding. It looks something like this:

- anyone may propose any project within certain acceptable guidelines, along with a target budget.
- anyone may fund any such acceptable project by making a donation.
- the Zcash Foundation has a fund for matching such community-driven donations in some way (ex: 1:1 matched funding)

[2017-12-20 04:14] tromer commented on #55
Interesting idea! Some practical notes:

- Such donation-matching would still require most of the review process done in the Grants, to ensure that the projects are within scope, realistic, etc.
- There's the issue of people trying to cheat the system by donating to themselves and asking the Foundation to match that. The Foundation does not have good tools to detect this, especially when participa

[2017-12-21 17:31] nathan-at-least commented on #55
I had in mind a few qualities that I see as distinct from the Grant Program.

1. I wanted to allow for smaller, simpler, more inclusive proposals, such as "I'm hosting our universities first zkSNARK student group next Tuesday and would like $50 to print 250 copies of this poster design <link> that I made." My thinking is that the scope here in budget and time is too small to fit into the Grant Pro

[2017-12-21 18:26] tromer commented on #55
@nathan-at-least, on your point 3:

Speaking as a review committee member: definitely yes, especially if there were comments on the Github ticket expressing well-reasoned support. The committee did accept several proposals that were not personally exciting to any of the members at first glance, after factoring in community input. An explicit goal of the process was to have the committee serve as b

[2018-01-03 00:25] amiller opened #56 "Governance and Board of Directors election"
We should have a Board of Directors election for the Zcash Foundation, and improve/broaden our decision making process. We should time this so that the details are finalized over the next few months, and the election itself is commemorated at the Zcon0 event (which will tentatively be held in June some time).

The following is a barebones, minimum viable, strawman proposal for how this election co

[2018-01-03 16:15] acityinohio commented on #40
Added IRS determination letter, Bylaws, and Certified Articles here: https://github.com/ZcashFoundation/ZcashFoundation/commit/058b46b20ae1a425f029b95115b31c1d773b2670

Would like to have this on our website instead of GitHub but will make that part of a broader web redesign.

[2018-01-03 16:15] #40 closed, assigned to einotna

[2018-01-08 03:20] acityinohio commented on #56
Great start! I'm very much in favor with the general intent of the proposal; it's a good idea to add more process to the board and expanding bylaws with community buy-in.

Based on the discussion we had in the [Zcash community chat](https://chat.zcashcommunity.com/channel/the-zcash-foundation?msg=KPj8XEjJzhvbJHyM3) I agree getting some of these changes done before Zcon would be ideal (so we can re

[2018-01-08 03:45] diracdeltas commented on #56
This would mean that 2 out of the 5 new seats (assuming the vote weight distribution above) are strongly influenced by the existing board members, via their allocations of outside experts / foundation friends / contributors / developers. To me this feels like too much power in the hands of the existing board. Maybe "board-chosen allocation of contributors / developers" could be replaced with "set

[2018-01-09 03:26] ebfull commented on #56
I see a danger in the organization moving "too quick" in some direction. In the worst case the organization can be "hijacked" by influence that then acts to entrench itself. In a less-worse case a lot of institutional knowledge, principles, values and experience can be lost. (Also, when the board composition is subject to significant sudden change it could potentially disincentivize action.)

I pe

[2018-01-11 20:02] zookozcash commented on #56
Here's the kind of decision that I think the Zcash community as a whole should be able to make eventually (within the next couple of years): Resolved: that the block reward shall be changed to go 50% to the miner and 50% to a variety of developers from now on until the next such change.

Whether it is possible to make such decisions and how it would be done is the stuff of the Constitutional Conve

[2018-01-11 20:23] zookozcash commented on #56
The Constitutional Convention doesn't have to provide an answer to all questions — especially future policies (e.g. should The Zcash Foundation spend all of its money in 2018 or save up!?) — but it should I think answer two things:

1. Who is going to have power over The Zcash Foundation and how can that change? I think Andrew's original post here is targeted at that and it is perfect.

2. What is

[2018-01-11 20:49] zookozcash commented on #56
What about commercial enterprises? Do they fit in as "developers", alongside individual open-source volunteers?

Suppose some megacorporation, like one of the FAANGs, is considering launching a major strategic investment in Zcash. If they knew they would get representation on the Foundation that might encourage them to do so. But with this structure it looks like they get representation only inasm

[2018-01-11 20:51] zookozcash commented on #56
To explain more specifically what I meant about the Constitutional Convention answering the question of "What is sacred to everyone in this community?", I was basically imagining something akin to Constitutional Amendments, specifying something like "Regardless of any other bylaws or any decisions of the Board, the Zcash Foundation shall not XYZ". Of course that also brings into scope a need for a

[2018-01-12 17:42] zookozcash commented on #56
This comment is about what I perceive to be an important, ongoing, and compounding problem. I think the governance structure needs to be designed with a cure for this problem in mind. But I'm not going to try to come up with any proposed solutions in this comment.

The problem is that the Zcash Foundation is a very USA-centric organization. It is governed by USA, 100% of [the current board](https:

[2018-01-12 18:40] zookozcash commented on #56
Some private comments I've heard about this topic are interesting because they indicate to me that they conceive of the Zcash Foundation's _possible scope of action_ as limited in different specific ways. Interestingly, different people seem to have different assumptions from each other about what _possible actions_ the Zcash Foundation could do, but they each seem to be assuming that everyone els

[2018-01-12 21:00] ericmeltzer commented on #56
I'd like to chime in to address two points brought up earlier in the thread—Zooko's point that the Foundation is currently very USA centric, and also the question of what type of decisions the Foundation should be making. I'll start by noting that I think the foundation has done a wonderful job so far, and that **not changing it at all** should be seen as a totally viable choice. tl;dr on this is

[2018-01-13 19:41] amiller commented on #56
Thanks all for this excellent conversation! Just to quickly react to one of ericmeltzer's points...
 It's possible the foundation could issue statements in favor of some upgrade or another. If the foundation employs all the core developers, however, then perhaps this "statement" would have a unilateral effect and be something stronger. IMO we should make sure that's not the case.

 In my view, the

[2018-01-17 17:11] zookozcash commented on #56
Against voting, by @nayafia: https://medium.com/@nayafia/the-problem-with-voting-8cff39f771e8

[2018-01-22 21:59] zookozcash commented on #46
@ericmeltzer

[2018-01-31 05:54] JMoVS commented on #56
Is there layout out somewhere what the admired result for this board is? Like what kind of questions it has to answer, and what kind of decisions it has to make in what timeframe and what environment? To properly model it, i think designated goals should be layout out first

[2018-02-01 12:10] zmanian commented on #56
Here are my ideal qualities in a board of crypto currency foundation.

1. The Board Members should have independence. Board members should have substantial equities outside of their participation in the board. This makes board members more resistant to corrupting influences.

2. Board Members should have legitimacy. Board members should be perceived as accountable to the interests of Zcash communi

[2018-02-06 14:33] nathan-at-least commented on #23
I'd like to see a scope larger than ZcashCo produced products, including for example other implementations, open source mobile and hardware wallets, key management tools, and MPC software.

I suspect the trick to a good bug bounty program is getting someone with good expertise and experience to operate it. Paging @diracdeltas, do you have advice for this request?

[2018-02-06 17:51] tromer commented on #23
Enlarging the scope to code well outside the control/review/knowledge of the Foundation makes sense, but raise some questions:
- Variable code quality: it makes more sense to award large bounties to stable well-reviewed code (e.g., zcashd) than little-known new projects
- Importance of the vulnerable product
- Conflict of interest /  manipulation

The generic way to handle all of these is to not c

[2018-02-16 18:34] amiller commented on #56
Hi all, here is a further iteration of a proposed plan for our election. The proposed election has a limited scope, and the following concrete goals:

- Expand the Zcash Foundation Board to 7 seats
- Broaden the Foundation's governance process to include voices of the community
- Set up a voting structure for Board members — based on community input — that could be used for other proposals and dec

[2018-02-21 18:02] zookozcash opened #58 "99% of the community you want to reach will never read anything on github"
Dear Foundation:

A couple of times in the past, I've mentioned to some of you in conversation that I had talked to someone (a non-computer-programmer) who said something like "I was interested in this Zcash community and governance thing, but then I tried to join in but it was on github, so I gave up".

Each time I've told you this, whichever one of you it was that I was talking to said something

[2018-02-21 18:29] prahaladbelavadi commented on #58
Given that tons of resources are available for learning how to use and understand github workflow, its the leap in adoption curve for non developers.
We could put together a bunch handy links, but eventually it's a personal decision.

Here's a bunch of links:

* [Github Guides](https://guides.github.com/activities/hello-world/)

* [Github Youtube](https://www.youtube.com/githubguides)

* [A list o

[2018-02-21 18:55] prahaladbelavadi commented on #53
I'd like to give this a shot. @acityinohio
I'm yet to deep delve research into Zcash and I should soon be able to put together an article differentiating [foundation](https://z.cash.foundation/) and [company](https://z.cash/).

It'd need to be reviewed for errors and corrections tho
What say

[2018-02-21 18:55] mineZcash commented on #58
What style of interaction would be easier for the casual user? A discourse forum like the Zcash forum perhaps?

[2018-02-21 19:07] john-light commented on #58
I am a non-programmer who has no problem using GitHub. It's even easier than Facebook if you design the workflow with non-programmers in mind. IMO the laundry list of resources above is not helpful as it could easily lead to "analysis paralysis". I think a simple and quick guide specifically for "Participating in the Zcash Foundation on GitHub" would be much more helpful for the uninitiated. This

[2018-02-21 19:19] tloriato commented on #58
I **love** GitHub for every reason that I assume you all do. _Probably more._

It has become clear for me, however, that GitHub is a barrier for non-programmers. It **really** is. Last week we had a conversation about this in my workspace about how programmers and "stakeholders" could interact more and a platform to bring them together.

Without going into the details of the discussion, the fact r

[2018-02-21 19:24] zookozcash commented on #58
I love github, too.

But if you want to achieve inclusivity, you need to know educating the people before they can engage is just a non-starter. The people that you want to include will refuse even to read the educational material and learn the new skills.

If you're okay with excluding those people, that's a different conversation. But if you want to include those people, then you be aware that t

[2018-02-21 19:25] amiller commented on #58
Thanks for posting this issue!

Here are a few potential options I have in mind:
1. We've recently created a mailing list, https://lists.z.cash.foundation/mailman/listinfo/general . This allows people to post without signing up for github (although they have to sign up to a mailing list, which I think might be as difficult.)
2. We can use the existing zcash forum. There's a Foundation folder in th

[2018-02-21 19:58] diracdeltas commented on #58
in terms of lowest barrier to entry, i think Slack/Rocketchat wins. (i slighly prefer Slack since i usually have it open anyway)

the downside is that Slack history search/organization is pretty bad. so any important decisions/proposals should probably be mirrored to github/gdocs.

[2018-02-21 20:06] tloriato commented on #58
+1 for Kialo, seems really awesome. Would love to try it out!

[2018-02-21 20:10] imichaelmiers commented on #58
I strongly disagree with this point.  First, as others point out github is simple enough to use. Second, there is considerable cost to setting up alternatives  and that cost shouldn't be born now when its critical to focus on expanding zcash usage and other issues.  And thats just looking at the technical cost, consider the issues with trolling that arise to varying degrees across platforms. To pi

[2018-02-21 20:22] jrmoreau commented on #58
Chats are chaos. Totally overwhelming and not efficient for archiving/categorizing relevant content and convos. I'd suggest having a helpdesk/support email with a knowledge base. Having a single full-time person to answer high level questions seems well within the foundation's capacity and would provide a HUGE value add to the community.

[2018-02-21 20:23] mineZcash commented on #58
There currently is a Rocket.chat channel dedicated to interacting with the Zcash foundation which all the board members (Andrew, Josh, Tromer, etc) frequent:

https://chat.zcashcommunity.com/channel/the-zcash-foundation

A new person who isn't comfortable with GitHub can get also get answers there if they need them.

[2018-02-21 20:35] acityinohio commented on #58
Above and beyond @amiller's point, and the great discussion here, I don't think this is purely a Zcash Foundation issue. This is an open tech governance issue (as someone tweeted in response to you, @zookozcash, after you announced posting of this issue):

https://twitter.com/nuttycom/status/966382282406739968

I'm sorry you don't feel like you've been heard @zookozcash, and for what it's worth I

[2018-02-21 20:46] diracdeltas commented on #58
@zookozcash: I'd like to request that the next time someone complains that Github is a barrier to their participation, please ask them (1) what the specific problem is, and (2) what they would rather use. Without that data, we're going to have a hard time coming up with a satisfactory solution.

[2018-02-21 22:56] apertamono commented on #58
@prahaladbelavadi Thank you very much. Those are very useful resources for me, because I'm a former programmer, honorably discharged, who doesn't begin to understand how to rebase or squash commits.

Sorry for barging in, this isn't my community, I'm used to the lively chaos of you-know-who, the evil drug-dealing cryptojackers, who have their own communication problems, but by any objective measur

[2018-02-21 23:51] burdges commented on #58
It's true github's interface sucks less than afaik all existing forum software.  As an intermediate step, you might host a blog that maintains short summaries of discussions on github with links to the specific discussions, except there remains one major problem with asking less tech savvy users to make github accounts:

_A default github configuration acts like a mailing list subscription and flo

[2018-02-22 00:28] daira commented on #58
The problem with most forum software is that it's designed for ephemeral discussion. An issue tracker, on the other hand, is designed for permanently archived discussions, which is absolutely needed for governance.

The technical requirement here is for an issue tracker. Anything that tries to be non-programmer-oriented but is still up to the task is going to have to implement the features of an i

[2018-02-22 11:05] Tectract commented on #58
At the Heartbeat Coalition (heartbeatcoalition.org), we are using the membership dues to basically pay for the github "seats" for each user, which then allow those users to access the shared kanban boards that we talk about and use together for project planning and during our teleconference screenshares. It's a way of bringing non-programmers into the programmer-space :)

[2018-02-22 15:29] LKNX commented on #58
Why dont you start using https://steemit.com for communication? Almost 1 Million crypto-users there, all of them have money - great place to keep a community and it is free.

[2018-02-22 16:32] ChaceHunter commented on #58
**99% of the community you want to reach need to know much more than GitHub.**

I am your non-computer-programmer, *some college*-educated average individual that believes in, and uses Zcash. In order to use Zcash to its full potential, I had to:

- download and install Linux
- spend days learning the CLI
- spend days with `zcashd` to get the full node up and running
- spend days learning the `zca

[2018-02-22 22:43] burdges commented on #58
Aside from gitlab, et al. and github front-ends mentioned in https://github.com/ZcashFoundation/ZcashFoundation/issues/58#issuecomment-367518475, you might evaluate the open source stack exchange clones and the liquid democracy software, which presumably both manage long term discussions too.  I think open source stack exchange clones will prove too gamified in the wrong direction, but still worth

[2018-02-22 22:52] burdges commented on #58
Also, you'll find more information on liquid democracy at https://liqd.net/en/software/ or even https://en.wikipedia.org/wiki/Delegative_democracy or https://medium.com/organizer-sandbox/liquid-democracy-true-democracy-for-the-21st-century-7c66f5e53b6f

[2018-02-23 21:58] zookozcash commented on #58
I mentioned this topic to a Chinese person yesterday and they reminded me that github is blocked in China.

[2018-02-23 22:03] john-light commented on #58
@zookozcash to be fair, that is a problem with GitHub specifically, not necessarily with the git/ issue-tracker model of collaboration, and so orthogonal to your original concerns (I think) i.e. Zcash Foundation could switch to a self-hosted GitLab instance and still have the perceived higher barrier to participation even though people in China could access it as long as it is unblocked.

[2018-02-23 22:16] zookozcash opened #59 "display the Zcash Foundation's mission prominently"
I'm writing a document to circulate to regulators (among many others), and I wanted to finish the sentence: "The Zcash Foundation's mission is…". So I googled it, and that took me to https://z.cash.foundation/, and I studied that page and didn't see anything that suited, so I clicked on "About", which took me to https://z.cash.foundation//about/, but then I didn't find the mission written there, a

[2018-02-23 22:17] zookozcash commented on #59
Okay, now I'm going to un-give-up and go find it, perhaps by searching through github, but the purpose of this ticket is to suggest that we make the mission more prominent for people who are that impatient. Maybe it deserves to have a top-level item on the nav bar? Or maybe be the top of the About page.

[2018-02-23 22:22] zookozcash commented on #59
For the record, the answer was to click on "Repository" on the top-level nav bar. If I were an average visitor, that probably wouldn't have occurred to me to try, because I would think of "Repository" as leading to source code, and I wasn't looking for source code. I clicked "Repository" and sure enough it took me to github. But, since I know that the some of the Foundation's docs are currently ho

[2018-02-23 22:24] xaur commented on #58
China can block anything including GitHub. Someone told me it works time to time. And depending on location, the blocking is more or less severe.

[2018-02-23 22:25] zookozcash opened #60 "update the Foundation's Mission"
The Foundation's Mission is currently “serving the Zcash community and promoting financial privacy”.

On the other hand, https://z.cash.foundation/blog/zcash-foundation-officially-nonprofit/ described it as “building internet payments and privacy infrastructure for the public good”.

What did the Foundation describe its mission as in its application for 501(c)3 status to IRS?

I'd support editing

[2018-02-23 22:25] zookozcash commented on #59
other issue: https://github.com/ZcashFoundation/ZcashFoundation/issues/60

[2018-02-23 22:39] xaur commented on #58
This is confusing.

* Zcash has RocketChat, IRC, forum, Reddit. Why did they rush to GitHub? Perhaps some page wrongly points them here?
* What exactly were they trying to do? They don't need Git, GitHub workflow, or even Markdown knowledge to login and post comments.

It is important to consider _who_ to include into _what_. There are several levels of participation. Higher levels naturally have

[2018-02-23 23:41] acityinohio commented on #60
I agree @zookozcash—this should be edited to reflect the application. To be transparent we've actually uploaded the 1023 application online here, which you can read here: https://github.com/ZcashFoundation/ZcashFoundation/blob/master/IncorporationDocs/Zcash%20Foundation%201023.pdf

The substantive portion of the application was drafted by @valkenburgh and I believe incorporated feedback from the B

[2018-02-23 23:44] acityinohio commented on #59
Concomitant to my suggestion on #60, I can also update the site (the easiest fix is the About page) to more prominently reflect an updated Mission after #60 is resolved. 👍 Thanks for the feedback!

[2018-02-24 00:00] tloriato opened #61 "Develop a Brand Book for Zcash"
I'd like to raise a discussion about the need to create a strong Brand Book | Brand Identity | Visual Identity around Zcash. We currently only have logos, [source](https://z.cash/press.html).

I feel like this would be essential for the current efforts regarding the research and development of better UI/UX as I have been following.

Honestly I'm not sure if this would be a Zcash Company or a Zcash

[2018-02-24 02:49] tloriato commented on #61
Related: #33 #54 #53

[2018-02-24 02:52] tloriato commented on #24
I'd be glad to provide portuguese (pt-br) translation for the Foundation!

@javiermardoness shoot me an email!

[2018-02-24 03:32] tromer commented on #61
Related: https://github.com/zcash/logos/issues/4 https://github.com/zcash/logos/issues/3

[2018-02-24 04:06] zookozcash opened #62 "SSL error on listserv"
I heard that one of the grant recipients had posted an update on their progress to a mailing list, so I clicked on a link to "listserv", but I see this:

[2018-02-24 04:07] zookozcash commented on #62
![31891817-e4bf-4456-b217-ee2ab1b31fe2](https://user-images.githubusercontent.com/16416064/36625481-82668be2-18dd-11e8-9c24-39b5e438e773.png)

[2018-02-24 19:46] acityinohio commented on #62
The SSL issue was brought up before and the mailman provider fixed some variant of it—did a little bit of testing with devices I had available and the redirect appears to work on Chrome Desktop Linux, Chrome Mobile Android, and Tor Desktop Linux.

On Brave desktop, if you type in without "https" it will say insecure; meanwhile if you explicitly type "https" it works fine. I've attached repro'd scr

[2018-02-24 20:45] zookozcash commented on #62
Confirmed that I can load it on Chrome on Chromebook.

[2018-02-24 21:24] zookozcash commented on #62
Here's what the Qualys SSL server tester says:

https://www.ssllabs.com/ssltest/analyze.html?d=lists.z.cash.foundation&s=192.34.61.247

![screenshot 2018-02-24 at 21 15 37](https://user-images.githubusercontent.com/16416064/36635151-e20c8a22-19a7-11e8-9a78-f55f95be5906.png)

Nothing broken. I notice that it requires SNI support. Is it possible there's a bug in Brave's SNI support? /cc https://gith

[2018-02-28 01:48] tloriato commented on #61
More:

[Zcoin Branding](https://zcoin.io/branding/)

[2018-02-28 16:25] acityinohio commented on #62
Going to close this out—it appears to be something on Brave's end, thanks for checking.

[2018-02-28 16:25] #62 closed, assigned to nobody

[2018-03-01 06:46] acityinohio commented on #43
@nathan-at-least I'm sorry for the extreme delay here, but now that we've got a general list I've got this rolling, first post out here:

https://lists.z.cash.foundation/pipermail/general/2018/000006.html
https://forum.z.cash/t/end-of-february-2018-update/27457

I'm planning on keeping the monthly cadence up and cross-posting to the forums. Thanks again for suggesting it!

[2018-03-01 06:46] #43 closed, assigned to nobody

[2018-03-02 18:24] amiller commented on #56
A few voting researchers I spoke to suggested that secret ballots is even *more* important in a relatively small community like ours. I'm partial to this observation. Another suggestion is that Helios https://vote.heliosvoting.org/ is already quite mature and would be something we could likely use, providing ballot secrecy and public verifiability (at least in the sense that individuals can verify

[2018-03-02 19:50] prahaladbelavadi commented on #58
Hey @mineZcash : https://github.com/ZcashFoundation/ZcashFoundation/issues/58#issuecomment-367432092

I think a discourse or a disqus platform would probably help answer FAQs while allowing the community to collaborate and answer each other's questions, preventing confusion to a large extent.
Having an established well trusted web presence is quite essential and gravity of the situation grows with

[2018-03-04 16:03] zmanian commented on #56
I think Helios is great. We will need some sort of registrar that the Foundation will operate to hand out accounts and some criteria for doing so.

Should the full registration list be public?

[2018-03-04 16:36] amiller commented on #56
I think we (foundation board/staff) should propose and curate a public list very shortly (like in the next week or two at most) and let it settle / wait for consensus / let people object to biases etc. The Helios server seems to handle email sign-ups automatically so if we know an email address for each panel member can use that. Otherwise we can pass the signup token on to the panel member. In ei

[2018-03-05 04:49] acityinohio commented on #56
@zmanian @amiller would a publicly readable google spreadsheet work for the list? I can start/administer that soon (realistically week of March 12th/after my Powers of Tau contribution) and get my feet wet with Helios then as well.

[2018-03-09 18:58] nathan-at-least opened #63 "Operate or fund community operators of essential Zcash infrastructure."
Currently ZcashCo operates various kinds of Zcash infrastructure. Probably the most essential are seed nodes.

Ideally from my perspective ZcashCo would no operate any Zcash infrastructure in order to make Zcash resilient against the scenario of ZcashCo turning evil / imploding / being coerced, etc… The Foundation would be in a good position to define a set of "essential infrastructure" and then p

[2018-03-09 19:23] tromer commented on #63
Sounds like the right thing to do, except that for the "grants" part: resources with significant availability/confidentiality/integrity ramifications may need to be handled in-house by Foundation employees using Foundation-approved procedures. Or at least subcontracted to organizations with exceptional expertise and reputation, under terms that are much stricter than the Grants'.

[2018-03-09 19:28] amiller commented on #63
Thanks for this issue, yes IMO all of these are within scope of what the Foundation should do operationally in-house. We should start by *replicating* each of these, then Zcash Co should turn *off* all of theirs for a while just to make sure it's working independently. Then later continue running theirs too.

[2018-03-10 21:55] zookozcash commented on #62
I wanted to join the mailing list, but I don't see anything when I type "lists.z.cash.foundation" into Brave on iOS:

![6ca9ee6f-bdac-4bda-aba5-0866ee5f108a](https://user-images.githubusercontent.com/16416064/37247062-4a0b227e-246a-11e8-85f7-c5d8b80b150f.png)

So I typed it into Safari on iOS instead, and I got this error:

![e5140e89-ccf1-4819-ba15-3d02d2e93a75](https://user-images.githubusercont

[2018-03-10 22:03] zookozcash commented on #62
Ok, I checked with an Android phone. It *works correctly* in Chrome on Android, but fails in Brave on Android or Firefox Focus on Android.

[2018-03-10 22:18] amiller commented on #62
I couldn't reproduce the problem. I installed firefox focus and brave just now and the site loaded fine... Any other detail you could provide or ideas to check? Is there any chance you have modified ssl settings or certificate lists?

[2018-03-10 23:21] mineZcash commented on #62
https://lists.z.cash.foundation/mailman/listinfo/zapps-wg try this link.

It may be that you had http:// instead of https://

[2018-03-11 16:48] zookozcash commented on #62
Ok, I clicked the link in Safari on iOS, and I get:

~\°»}.

[2018-03-11 16:53] zookozcash commented on #62
I haven't intentionally modified any such settings.

Here is ssl labs client report for my Safari on iOS, which gives an (unspecified) ssl error:

[2018-03-12 05:32] ghost opened #64 "Get the community's opinion on the next round of grants (Q2/Q4) + Other suggestions from outsider"
Monero's FFS is super effective in getting users interested and engaged in the project. It's a pretty good filtering mechanism for high quality projects, and community also gives good feedback, mostly on Reddit.

I recognize that the grants are different, as the $$ comes from the foundation, but there is still an opportunity to increase community engagement and awareness in the foundation's activi

[2018-03-12 05:34] ghost commented on #64
Also, am I allowed to just post issues/suggestions like this on this github lol ? I'm not too familiar with github ettiquete / rules

[2018-03-12 12:46] amiller commented on #64
This is great feedback, thanks for writing it here hderek!
The proposals being posted on GitHub makes them open for user feedback from anyone. But if not many people show up to comment, we should try additional things, I agree. We also have the foundation topic on forum.z.cash, do you think that is a good alternative to Reddit, or is the /r/zec subreddit the best place to proactively speak into?

[2018-03-12 14:43] ghost commented on #64
Forum.zcash is a decent start, but I'm not sure I know too many Projects that have more lively/active proprietary forums compared to a Subreddit or something.  When newcomers are trying to learn about a project, one of the first places they will go is the Subreddit.

There are alot of downsides to Reddit, as the level of overall discourse will be lower, there's more talk of price, takes time to mo

[2018-03-14 20:08] nathan-at-least commented on #63
I didn't realize the Foundation was on board for operating infrastructure directly. That works for me!

[2018-03-14 22:02] zmanian commented on #63
If the Foundation is interested in subcontracting some infrastructure, @tarcieri and I have a infrastructure hosting venture that would be interested.

https://www.iqlusion.io/

[2018-03-14 23:26] tromer commented on #64
@hderek, already in the 2017Q4 grant round, we were explicitly and actively seeking user input on grant proposals. As a member of the grant committee, I can say that we we gave a lot of weight to community feedback, and often reached out to people on other forums, and in person, to get more of it. If you have ideas on how to do more of that, they are _very_ welcome. Just bear in mind that practica

[2018-03-14 23:54] ghost commented on #64
Thanks for the response Eran!

I would say just keep getting the Github links to the proposals out there . Tweet them, post them to Reddit, have it visible on the home page of the foundation website, etc.

[2018-03-19 16:56] zookozcash commented on #62
Update! It now works with both Safari on iOS and Brave on iOS. I didn't change anything. Having thought about it for 5 seconds, I doubt there is any important residual security risk if we just all forget about this issue now, so I'm leaving this closed.

[2018-03-20 21:22] amiller commented on #54
It would be cool if we could mirror content between our various platforms. Like a summary of forum conversations should be sent every so often to our mailing list. Posts on the mailing list could be automatically tweeted about. Also, it would be useful to set up measurements for each of the platforms so we can see how effective they are.

[2018-03-21 21:17] radix42 commented on #63
Note that I currently operate one of the higher traffic (after Zcha.in) Zcash block explorers with Foundation grant support, and also host the proving key mirrored on a fast global CDN purely for donations, in addition to operating a number of high availability zcash nodes that allow inbound connections, so we're part-way there (FYI for those who may read this and not know it ahead of time, I am n

[2018-03-25 13:21] zookozcash commented on #58
Here's another example of someone who wants to influence the course of the Zcash community (they are concerned about the development of ASIC miners and are advocating for changing the PoW), but who refuses to go to github: https://forum.z.cash/t/let-s-talk-about-asic-mining/27353/33?u=zooko

"Since this is the offical ZCash forum, I’m expecting that posts here are “on the Foundation’s radar.” Gith

[2018-04-02 00:19] #60 closed, assigned to acityinohio

[2018-04-02 00:20] acityinohio commented on #59
Updated site with appropriate links to Mission in about page and a better, more visible description.

[2018-04-02 00:20] #59 closed, assigned to nobody

[2018-05-01 23:42] sonyamann commented on #58
I'm a little late to the discussion, but I want to chime in. (For those who don't know, I've newly joined the Zcash Foundation to run communications.)

I agree that GitHub is not a suitable default hub for anyone nontechnical. Usability, especially as a beginner, is a huge hurdle in the cryptocurrency world overall. We definitely want to work on lowering the barriers; that's something I care about

[2018-05-02 04:01] tloriato commented on #58
Why not a bot that relays information back and forth between here & the other proposed place ( i.e forum)?

I've seen it working a few times between IRC (devs) and Slack (users).

[2018-05-02 19:55] nathan-at-least commented on #43
I meet your delay and raise by several more months. ;-)

This is perfect! Thanks.

[2018-05-02 23:22] acityinohio commented on #43
no worries @nathan-at-least! I actually missed my cadence goal on this because of my cross-country move—but am planning another mailing this week for april. :smile:

[2018-05-02 23:50] bitcartel commented on #58
Just ran into a Github UX problem, where community members are having _separate_ discussions even though on the same ticket...

https://forum.z.cash/t/let-s-talk-about-asic-mining/27353/629?u=bitcartel

[2018-05-03 20:13] zookozcash opened #67 "what you need to exercise your freedom in a decentralized cryptocurrency"
I think there are three things you need to exercise your natural freedom in a decentralized cryptocurrency community. Currently the Foundation doesn't have any of the three. If you don't have "the ability to exercise your freedom", then if you and a group of community members want to share some technology/crypto-asset/network with each other, you have to ask someone else to please help you do it.

[2018-05-03 20:16] zookozcash commented on #67
P.S. Also what if the company and the founders _wanted_ to keep delivering the pledged funds to the Foundation, but couldn't because of some problem like: we've been sued and the judge froze all of our assets pending the lawsuit, or we've been robbed and lost control of all of our private spending keys. Or a founder like me died. Or what if some third party who had the ability to sue, rob, or cont

[2018-05-03 20:31] jasondavies commented on #67
It seems like this could be easily achieved by modifying the reward function so that it pays the appropriate split between ZcashCo and the Foundation. Would require a hard fork (all nodes would need to be updated to validate the new rules).

[2018-05-03 20:54] amiller commented on #67
Thanks for this. I agree with all the points basically. I think the foundation should do, in order:
1. Receive a transfer of trademarks to the company. I believe we have the staff and capacity to define and enforce a trademark policy in a reasonable way. I also think this is *mostly* symbolic, since I don't have strong thoughts on how else to treat the trademark policy than what the company is alr

[2018-05-03 21:09] tloriato commented on #67
I agree with each and every one of amiller's point.

But I'd also like to raise the question if it would be possible to include the payout to the Foundation in the upcoming Sapling Hard Fork. I don't think that it would be very time-demanding given [those lines](https://github.com/zcash/zcash/blob/9e5398686c729b3ca8197a379cf4e532a01a9fa2/src/chainparams.cpp#L179-L235) but Zcash Co has to have the

[2018-05-03 21:53] hosseamin commented on #67
Recently i saw this trademark policy. https://z.cash/trademark-policy.html
@zookozcash you are totally correct. I very much like to see possibility for having multiple deployment of zcashd.

[2018-05-04 11:30] mcelrath commented on #67
On (3) I'm afraid Zcash is in the same boat as bitcoind itself due to their shared history code.  The ideal way to achieve this would not be to write an example implementation, but to write a spec (as is done with e.g. IETF/W3C standards) and then have alternative implementations write to the spec. So, since Bitcoin itself can't escape having its consensus rules defined only in code despite multip

[2018-05-05 01:30] zookozcash commented on #67
There's a spec: https://github.com/zcash/zips/blob/master/protocol/protocol.pdf

[2018-05-05 14:00] HershyatHatch commented on #67
For Zooko and/or Andrew - so, to your mind, would the decision to 'automate' the contribution to the foundation require a vote from the whole community or just the founders as it is the rights to their money that is being decided on?

[2018-08-10 22:50] nathan-at-least opened #69 "[Grant Program Request] Pipelined back-to-back grant rounds."
I'd like a "constantly available" grant program to direct potential applicants to. The number of potential applicants I notice is growing daily! It's exciting!

However, if there's no place where I can direct them that let's them know the next application deadline, we may be losing potential applicants who will drop off before the next round is set up and announced.

I don't think this "constant a

[2018-08-10 23:15] nathan-at-least opened #70 "[Grant Program Request] Continuation grants / lower barrier to repeat."
Some kinds of valuable Zcash projects may be ongoing processes rather than discrete projects, or they may be easily repeatable or extendable projects.

I've heard that the foundation has also considered funding ongoing projects outside of the grant program, such as by hiring contractors, or entering into custom agreements. Facilitating ongoing or continuous grant funding may be a nice middle groun

[2018-08-10 23:31] mineZcash commented on #70
I like this idea, the trick would be setting up a framework for these ongoing style submissions and having a quick/streamlined review process that has as few buy-offs as needed.

Another thought, after seeing the quick turnaround of the ZenCash wallet port to Zcash via a Bounty posted by a ZenCash developer. It would be nice to have a similar Bounty style funding for a "very, very low" barrier to

[2018-08-26 17:32] amiller commented on #56
Closing this https://z.cash.foundation//blog/governance-results/

[2018-08-26 17:32] #56 closed, assigned to amiller

[2018-08-26 17:32] #2 closed, assigned to amiller

[2018-08-26 17:34] amiller commented on #6
I vote to call the working groups attempt a failure and garbage collect it, after which we can just close this issue.
Or if there's something to salvage, make a new issue for that.

[2018-08-26 17:39] amiller commented on #58
Closing as not an actionable issue, although the discussion could certainly continue. We also have the rocket chat, mailing list, and forum for discussion... https://forum.z.cash/c/foundation I hope the good things about using github this way get to continue.

[2018-08-26 17:39] #58 closed, assigned to nobody

[2018-09-15 03:59] acityinohio commented on #1
Closing this as part of ZcF GitHub Issues cleanup.

[2018-09-15 03:59] #1 closed, assigned to nobody

[2018-09-15 03:59] acityinohio commented on #4
Closing this as part of ZcF GitHub Issues cleanup.

[2018-09-15 03:59] #4 closed, assigned to mineZcash

[2018-09-15 04:00] acityinohio commented on #12
Considering this and #53 closed with @sonyamann hired.

[2018-09-15 04:00] #12 closed, assigned to acityinohio

[2018-09-15 04:00] acityinohio commented on #53
Closing this out as part of ZcF GitHub Issues Cleanup.

[2018-09-15 04:00] #53 closed, assigned to acityinohio

[2018-09-15 04:01] acityinohio commented on #6
Closing this out for now as part of ZcF GitHub Issues cleanup.

[2018-09-15 04:02] #6 closed, assigned to acityinohio

[2018-09-15 04:02] acityinohio commented on #8
Closing this out with the success of the governance panel, although I do like the idea of re-purposing the circuit for staked voting in the future.

[2018-09-15 04:02] #8 closed, assigned to nobody

[2018-09-15 04:05] acityinohio commented on #13
Closing this as part of ZcF GitHub Issues cleanup.

[2018-09-15 04:05] #13 closed, assigned to nobody

[2018-09-15 04:06] acityinohio commented on #5
Closing this as part of ZcF GitHub Issues cleanup.

[2018-09-15 04:06] #5 closed, assigned to nobody

[2018-09-15 04:06] acityinohio commented on #45
Closing this out (was completed quite a while ago by @einotna).

[2018-09-15 04:06] #45 closed, assigned to einotna

[2018-09-15 04:07] acityinohio commented on #38
Definitely done for now, should have closed this a while ago.

[2018-09-15 04:07] #38 closed, assigned to acityinohio, einotna

[2018-09-15 04:13] acityinohio commented on #18
Closing this out for now, but I think the spirit here will be present in the web redesign/materials associated with it (cc @sonyamann).

[2018-09-15 04:13] #18 closed, assigned to nobody

[2018-09-15 04:13] acityinohio commented on #20
Closing this as part of ZcF GitHub Issues cleanup.

[2018-09-15 04:13] #20 closed, assigned to acityinohio

[2018-09-15 04:15] acityinohio commented on #21
Closing this as part of ZcF GitHub Issues cleanup

[2018-09-15 04:15] #21 closed, assigned to amiller, acityinohio

[2018-09-15 04:16] acityinohio commented on #23
Closing this as part of ZcF GitHub Issues cleanup.

[2018-09-15 04:16] #23 closed, assigned to nobody

[2018-09-15 04:18] acityinohio commented on #33
Closing this out as a rebrand/web redevelopment is in process (a la #54).

[2018-09-15 04:18] #33 closed, assigned to acityinohio

[2018-09-15 04:18] acityinohio commented on #24
Closing this as part of ZcF GitHub Issues cleanup.

[2018-09-15 04:18] #24 closed, assigned to nobody

[2018-09-15 04:20] acityinohio commented on #67
Thanks for the discussion all, but closing this out now as part of ZcF GitHub Issues cleanup.

[2018-09-15 04:20] #67 closed, assigned to nobody

[2018-09-15 04:22] acityinohio commented on #54
@sonyamann is working with @RichardLitt on this, so considering it closed (and new website coming!)

[2018-09-15 04:22] #54 closed, assigned to acityinohio

[2018-09-15 04:22] acityinohio commented on #46
Closing this out for now as part of ZcF GitHub issues cleanup.

[2018-09-15 04:22] #46 closed, assigned to nobody

[2018-09-15 04:22] acityinohio commented on #25
Closing this out as part of ZcF GitHub Issues cleanup.

[2018-09-15 04:22] #25 closed, assigned to nobody

[2018-09-15 04:27] acityinohio commented on #41
I think something akin to the forum-funding model will be part of the evolution of the Grants program (e.g. community funding shows interest and then we match if the other party is willing to be KYC'd), and we'll definitely draw from Monero and Dash's experience here. Closing for now.

[2018-09-15 04:27] #41 closed, assigned to nobody

[2018-09-15 04:29] acityinohio commented on #61
Closing this out for ZcF GitHub issues cleanup—currently I think it's more the Company's purview, but as things evolve it will become a shared responsibility to build this together.

[2018-09-15 04:29] #61 closed, assigned to nobody

[2018-09-15 04:31] acityinohio commented on #55
Very much love the idea of integrating something like this into the next evolution of the Grants—as I mentioned in #41. Closing this out for now.

[2018-09-15 04:31] #55 closed, assigned to nobody

[2018-09-15 04:32] acityinohio commented on #51
Closing this out; during Zcon0 we relied on the Values doc as our guiding list of principles when it came to communication and respecting fellow conference goers (could apply here as well).

[2018-09-15 04:32] #51 closed, assigned to amiller

[2018-09-15 04:35] acityinohio commented on #64
Thanks for the feedback again @hderek, closing this out as part of ZcF GitHub issues cleanup.

[2018-09-15 04:35] #64 closed, assigned to nobody

[2018-09-15 04:35] acityinohio opened #71 "[Grant Programs] Update Grant Process"
There have been many issues presented regarding the Grant program (feedback, improvements, etc) and I wanted to collect them here as a general "how can we improve grants?" issue. Summarizing them here:

1) Increase frequency of grants/streamline opportunities for applications (#69)
2) Continuation/lower-barrier grants (#70)
3) Community funding + matching (#41, #55)

I think we'll need to update t

[2018-09-15 04:40] acityinohio commented on #70
Closing this out to summarize grant ideas in one issue, thanks @nathan-at-least!

[2018-09-15 04:40] #70 closed, assigned to nobody

[2018-09-15 04:40] acityinohio commented on #69
Closing this out to summarize grant ideas in one issue, thanks @nathan-at-least!

[2018-09-15 04:40] #69 closed, assigned to nobody

[2018-09-15 04:41] acityinohio opened #72 "Overall Web Redesign"
We just updated our logo, and we'll be updating the website to match.

[2018-09-15 04:42] acityinohio opened #73 "Hire/contract for multiplatform Zcash Desktop Wallet GUI"
Focused on post-Sapling, shielded TXs, currently interacting with zcashd.

[2018-09-15 04:43] acityinohio opened #74 "Hire protocol developer"
# Job Opportunity: Protocol Developer and Open Source Maintainer

The Zcash Foundation is hiring a protocol developer and open source maintainer. Are you interested in furthering our mission of building Internet payment and privacy infrastructure for the public good, primarily through the Zcash? Do you have experience with Rust and C++ and familiarity with Bitcoin and Zcash at the protocol level?

[2018-09-15 04:44] acityinohio opened #75 "Hire "layer two" developer"
To contribute to Lightning and Bolt.

[2018-09-15 04:46] acityinohio opened #76 "Complete ZcF Audit"
Keeping this open to keep the community aware, and to make sure we update our financials on the new website.

[2018-09-15 04:50] acityinohio opened #77 "Choose and Announce Zcon1 Location"

[2018-09-20 15:36] RichardLitt commented on #24
@acityinohio Is this not something we're interested in doing?

[2018-09-20 18:42] acityinohio commented on #24
@RichardLitt still interested! just wanted to close out inactive issues

[2018-10-22 23:59] adityapk00 commented on #73
Hello, I’m the developer of Zcash-qt-wallet, which is a multi platform desktop GUI wallet for Zcash. I’d be interested in this project.

As you can see from my github, I’m already about halfway there. The GUI already supports windows and Linux, full support for sprout, sapling and t addresses.

https://github.com/adityapk00/zcash-qt-wallet

How can I learn more about what you’re looking for?

[2018-10-23 16:27] acityinohio commented on #73
This is fantastic @adityapk00. Do you mind emailing me at `josh [at] z [dot] cash [dot] foundation` and we can discuss a bit more?

[2019-01-17 21:29] sonyamann commented on #77
I'd close this issue before we archive this repo. It doesn't need to live on in the new repo, since we basically completed it today.

[2019-01-17 21:35] sonyamann commented on #72
This issue can be closed.

[2019-01-17 21:35] sonyamann commented on #73
We can close this issue now, no?

[2019-01-17 21:38] sonyamann commented on #74
Should we crosspost this as an issue in the new repo? Or maybe better to have a page on the website?

[2019-01-17 21:38] sonyamann commented on #75
Crosspost this issue?

[2019-01-17 22:41] #77 closed, assigned to einotna

[2019-01-17 22:41] #72 closed, assigned to sonyamann

[2019-01-17 22:42] acityinohio commented on #71
[Closing this as part of a cleanup/consolidation to https://github.com/ZcashFoundation/zfnd]

[2019-01-17 22:42] #71 closed, assigned to nobody

[2019-01-17 22:42] acityinohio commented on #63
[Closing this as part of a cleanup/consolidation to https://github.com/ZcashFoundation/zfnd]

[2019-01-17 22:42] #63 closed, assigned to acityinohio

[2019-01-17 22:42] #73 closed, assigned to acityinohio

[2019-01-17 22:43] acityinohio commented on #74
I think cross post as new issue for now, rather than set up a dedicated hiring page.

[2019-01-17 22:44] acityinohio commented on #74
[Closing this as part of a cleanup/consolidation to https://github.com/ZcashFoundation/zfnd]

[2019-01-17 22:44] #74 closed, assigned to acityinohio

[2019-01-17 22:45] acityinohio commented on #75
Yeah, actually we should close for now as other tech hiring is taking precedence.

[2019-01-17 22:45] #75 closed, assigned to acityinohio

[2019-01-17 22:46] acityinohio commented on #76
[Closing this as part of a cleanup/consolidation to https://github.com/ZcashFoundation/zfnd]

[2019-01-17 22:46] #76 closed, assigned to einotna